<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<form name="f" method="post" action="/process_login">
<!--    только здесь явно укажем токен в форме process_login, и секьюрити автоматически во все остальные формы добавит токен-->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <label for="username">Введите имя пользователя: </label>
    <input type="text" name="username" id="username"/>
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="text" name="password" id="password"/>
    <br/>
    <input type="submit" value="login"/>

    <div th:if="${param.error}" style="color: red">
        Неправильные имя или пароль
    </div>
</form>

</body>
</html>